<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   </head>
   <body>
      <% if (user) { %>
      <h2>Welcome to the Dashboard <%= user.displayName %></h2>
      <p>You have successfully logged in using Google OAuth2.</p>
      <p>Your email: <%= user.email %></p>
      <div style="display: flex; flex-direction: column; gap: 10px">
         <a href="/auth/management">Go to Management</a>
         <a href="/api-docs">Go to API Docs</a>
         <a href="/books">Go to Books Page</a>
         <a href="/authors">Go to Authors Page</a>
         <a href="/auth/logout">Logout</a>
      </div>

      <% } %> <% if (!user) { %>
      <h2>You are not logged in.</h2>
      <p>Please log in to access your dashboard.</p>
      <a href="/auth/google">Login with Google</a>
      <% } %>
   </body>
</html>